@model IEnumerable<InventoryManagement.Models.History>

@{
    ViewData["Title"] = "History";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Material Code</th>
            <th>Material Name</th>
            <th>Action</th>
            <th>Amount</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Material.Code</td>
                <td>@item.Material.Name</td>
                <td>@item.ActionType</td>
                <td>@item.Amount</td>
                <td>@item.Timestamp.ToString("g")</td> <!-- Use ToString("g") for better readability -->
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
